body{
    margin: auto;
}

.divider{
    float: left;
    border: 4px solid lightgreen;
    border-style: solid solid hidden hidden;
    border-radius: 50px;
    background-color: beige;
    color: black;
    font-size: 30px;
    cursor: pointer;
    width: 250px;
    height: 500px;
    transition: width 1s;
    margin-left: 10px;
    text-align: left;
    margin-top: 20px;
    background-size: cover;
}
    
.divider:hover{
    width: 550px;
}

.vertical-word{
    padding-right: 120px;
    padding-top: 50px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -25px;
    font-family: 'Changa', sans-serif;
}

#projects{
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: beige;
}

#about-me{
    display: flex;
    justify-content: center;
    height: 800px;
    background-color: lightblue;
}
